<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.itba.hci">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        android:installLocation="auto"
       >
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.pastActions.PastActionsActivity"
            android:label="@string/title_activity_past_actions"
            android:launchMode="singleTask"
            android:theme="@style/LightTheme.NoActionBar" />
        <activity
            android:name=".ui.devices.DeviceDetailsActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
              >


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.edu.itba.hci.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.rooms.RoomScreen"
            android:label="@string/title_activity_room_screen"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/LightTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.edu.itba.hci.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".api.notifications.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1">
                <action android:name="ar.edu.itba.hci.DEVICE_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>